@def $CONSUL_BIND = ($EC2_VPC_V4_CIDR $EC2_VPC_V6_CIDR);

domain (ip ip6) table filter {
  chain OUTPUT {
    daddr (169.254.169.254 fd00:ec2::254) proto tcp mod owner uid-owner "consul" ACCEPT;
  }
}

domain (ip6 ip) table filter chain INPUT saddr @ipfilter($CONSUL_BIND) {
  # lan serf: the serf lan port (tcp and udp)
  proto (tcp udp) dport 8301 ACCEPT;

  # http: the http api (tcp only)
  # proto tcp dport 8500 ACCEPT;

  # https: the https api (disabled)
  # proto tcp dport 8501 ACCEPT;

  # grpc: the grpc api (disabled)
  proto tcp dport 8502 ACCEPT;

  # sidecar proxy: sidecar service registrations
  proto tcp dport 21000:21255 ACCEPT;
}

{% if consul_server %}
domain (ip6 ip) table filter chain INPUT saddr @ipfilter($CONSUL_BIND) {
  # server: server rpc address (tcp only)
  proto tcp dport 8300 ACCEPT;

  # wan serf: the serf wan port (tcp and udp)
  proto (tcp udp) dport 8302 ACCEPT;
}
{% endif %}

{% if consul_health_check %}
domain (ip6 ip) table filter {
  chain INPUT {
    saddr @ipfilter($CONSUL_BIND) proto tcp dport {{ consul_health_check_port }} ACCEPT;
  }
}
{% endif %}
