[Unit]
Description="Consul Bootstrap"
ConditionFileNotEmpty=/opt/consul/config/default.json
After=consul.service
Requires=consul.service
After=consul-online.service
Requires=consul-online.service
Before=consul-online.target

[Service]
Type=oneshot
User=consul
Group=consul
ExecStart=/opt/consul/bin/consul-bootstrap
