[Unit]
Description=Consul Online
Requires=consul-online.service
After=consul-online.service
Requires=consul.service
After=consul.service
{% if consul_server | bool is true %}
Requires=consul-bootstrap.service
After=consul-bootstrap.service
{% endif %}

[Install]
WantedBy=multi-user.target
