[Unit]
Description="Consul Online"
ConditionFileNotEmpty=/opt/consul/config/default.json
Requires=consul.service
After=consul.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=consul
Group=consul
ExecStart=retry /opt/consul/bin/consul-online
Environment=RETRY_MAX_ATTEMPTS=0
