[Unit]
Description="Consul health check monitoring endpoint"
Documentation=https://www.consul.io/
After=consul.service
After=network-online.target
Wants=cosul.service
Wants=network-online.target

[Service]
User=consul
Group=consul
ExecStart=/opt/consul/bin/consul-health-check server -l :{{ consul_health_check_port }}
KillMode=process
Restart=on-failure
TimeoutSec=300s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
